<!DOCTYPE html>  
<html lang=" "en>
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <title>Sign Up</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script> 
    </head>
    <style>
        body{
            background-color: #1e1659;
        }
        .head{
            justify-content: center;
            color: #f8f8f8;
        }
        .role {
        
            color: #f3f5fb;
        }
        .realhead {
            justify-content: center;
            color: #e83e13;
            font-size: 2rem;

        }
        .h6 {
            justify-content: center;
            font-size: 1.5rem;
            color:#da440d;
            padding: 1rem 6rem;
        }
    </style>
    <body> 
        <div class = "grid grid-cols-6">
            <div class = "head col-start-3 col-span-2">  
                <div class = realhead><%- include('header.ejs')%></div>
                <h6 class=" h6 py-4">Sign-up as a new user</h6>
                <p class="py-2 text-lg border-b-2 mb-2">Already have an account? <a href="/login" class="text-green-600 font-semibold hover:underline bg-gray-900">Sign-in</a></p>
                <form action="/users" method= "post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class = "py-3 " >
                    <label for="First Name">First Name:</label>
                    <input type = "text" name= "firstName" class = "border border-gray-900 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <label for="Last Name">Last Name:</label>
                    <input type = "text" name= "lastName" class = "border border-gray-900 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <label for="Email">Email:</label>
                    <input type = "email" name= "email" class = "border border-gray-900 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <label for="Password">Password:</label>
                    <input type = "password" name= "password" class = "border border-gray-900 text-gray-900 rounded p-4 w-full py-1" required minlength="8">
                    </div>
                        <div class=" role py-2">
                        <label for="role" class="text-lg">Role:</label>
                        <select name="role" id="role" class="border border-gray-300 rounded p-2 w-full text-gray-900 text-lg" required>
                            <option value="null">Please select</option>
                            <option value="teacher">Teacher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>
                    <div class = "py-3 " >
                    <button type = "submit" class = "px-5 py-1.5 rounded background-color: bg-red-600 text-white font-medium mr-2 mb-2 hover:text-blue-400">Sign up</button>
                    </div>
                </form>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <div class="error-message">
                      <%= messages.error[0] %>
                    </div>
                  <% } %>
                <%- include ('footer.ejs') %>
            </div>
        </div>  
    </body>
</html>