!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
</head>

<body class="bg-gray-100">
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <% include ('header.ejs') %>
                <div class="py-4 flex justify-between items-center border-b-2">
                    <h2 class="text-3xl font-bold">Course Details here:</h2>
                    <h1 class="text-gray-700 text-lg font-semibold">
                        <%= currentUser.firstName %>
                            <%= currentUser.lastName %> <a href="/signout"
                                    class="text-green-600 text-lg font-semibold ml-2">Sign out</a>
                    </h1>
                </div>
                <% if (currentUser.role==="student" ) { %>
                    <a href="/student" class="text-blue-600 text-sm font-bold border-b-2 py-2 m-2">Dashboard</a>
                    <% } else { %>
                        <a href="/teacher" class="text-blue-600 text-sm font-bold border-b-2 py-2 m-2">Dashboard</a>
                        <% } %>
                            <div class="bg-white p-4 m-4">
                                <h2 class="text-4xl font-bold mb-4 text-gray-800">
                                    <%= course.courseName %>
                                </h2>
                                <p class="text-lg mb-2"><strong>Course ID:</strong>
                                    <%= course.id %>
                                </p>
                                <p class="text-lg mb-2"><strong>Created By:</strong>
                                    <%= userofCourse.firstName %>
                                        <%= userofCourse.lastName %>
                                </p>
                                <p class="text-lg mb-2"><strong>Email:</strong>
                                    <%= userofCourse.email %>
                                </p>
                                <p class="text-lg mb-2"><strong>Description:</strong>
                                    <%= course.courseDescription %>
                                </p>
                                <p class="text-lg mb-2">
                                    <strong>Chapters:</strong>
                                    <% const isEnrolled=enrols.some(enrollment=> enrollment.userId === currentUser.id &&
                                        enrollment.courseId === course.id); %>
                                        <% if(!isEnrolled && currentUser.role==="student" ) { %>
                                            <span class="text-xl font-semibold italic px-1">Enroll 
                                            </span>
                                            <% } %>
                                </p>
                                <ol class="list-decimal text-lg ml-8 mb-4">
                                    <% if (chapters.length===0) { %>
                                        <h3 class="mb-5 text-xl text-gray-600">Not available</h3>
                                        <% } else { %>
                                            <% for (let chapter of chapters) { %>
                                                <li class="text-blue-600 hover:text-blue-800 hover:underline">
                                                    <% if (currentUser.role==="teacher" || (currentUser.role==="student"
                                                        && isEnrolled)) { %>
                                                        <a
                                                            href="/viewchapter/<%= chapter.id %>/generateSheet?currentUserId=<%= encodeURIComponent(currentUser.id) %>">
                                                            <%= chapter.chapterName %>
                                                        </a>
                                                        <% } else { %>
                                                            <%= chapter.courseName %>
                                                                <% } %>
                                                </li>
                                                <% } %>
                                                    <% } %>
                                </ol>
                                <% if(userofCourse.id===currentUser.id) { %>
                                    <a href="/viewcourse/<%= course.id %>/generateSection?currentUserId=<%= currentUser.id %>"
                                        class="bg-blue-600 text-white px-4 py-2 rounded text-xl hover:bg-blue-700 text-center ml-8">Create
                                        a New Chapter</a>
                                    <% } %>
                            </div>
        </div>
    </div>
</body>

</html>