<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
</head>
<script>
    const csrfToken = document.querySelector('meta[name="csrf-token"').getAttribute('content');
    const token = document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content");
    function deleteCourse(id) {
    fetch(`/view-course/${id}/delete`, {
        method: 'delete',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify({
        "_csrf": token
    })
    }).then((res) => {
        if(res.ok)
    {
        window.location.href = "/teacher";
    }

}).catch(err => console.error(err))
}
</script>
<body class="bg-gray-900">
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <% include ('header.ejs') %>
                <div class="py-4 flex justify-between items-center border-b-2">
                    <h2 class="text-3xl font-bold text-blue-600">Created Course Details:</h2>
                    <h1 class="text-red-700 text-lg font-semibold">
                        <%= currentUser.firstName %>
                            <%= currentUser.lastName %> <a href="/signout"
                                    class="text-green-600 text-lg font-semibold ml-2">Sign out</a>
                    </h1>
                </div>
                <% if (currentUser.role==="student" ) { %>
                    <a href="/student" class="text-green-600 text-2xl font-bold border-b-2 py-2 m-2 hover:text-blue-600">Dashboard</a>
                    <% } else { %>
                        <a href="/teacher" class="text-green-600 text-2xl font-bold border-b-2 py-2 m-2 hover:text-blue-600">Dashboard</a>
                        <% } %>
                            <div class="bg-blue-400 p-8 m-10">
                                <h2 class="text-4xl font-bold mb-4 text-blue-600">
                                    Course Name: <div class = "text-4xl font-bold mb-4 text-red-600"><%= course.courseName %></div>
                                </h2>
                                <p class="text-lg mb-2"><strong>Course ID:</strong>
                                    <%= course.id %>
                                </p>
                                <p class="text-lg mb-2"><strong>Created By:</strong>
                                    <%= currentUser.firstName %>
                                        <%= currentUser.lastName %>
                                </p>
                                <p class="text-lg mb-2"><strong>Email:</strong>
                                    <%= currentUser.email %>
                                </p>
                                <p class="text-lg mb-2"><strong>Course Description:</strong>
                                    <%= course.courseDescription %>
                                </p>
                                <p class="text-lg mb-2">
                                    <strong>Chapters:</strong>
                                    <% const isEnrolled=enrolls.some(enrollment=> enrollment.userId === currentUser.id &&
                                        enrollment.courseId === course.id); %>
                                        <% if(!isEnrolled && currentUser.role==="student" ) { %>
                                            <span class="text-xl font-semibold italic px-1">Enroll to view the contents of this course!
                                            </span>
                                            <% } %>
                                </p>
                                <ol class="list-decimal text-lg ml-8 mb-4">
                                    <% if (chapters.length===0) { %>
                                        <h3 class="mb-5 text-xl text-gray-600">---No Chapters available</h3>
                                        <% } else { %>
                                            <% for (let chapter of chapters) { %>
                                                <li class="text-blue-600 hover:text-blue-800 hover:underline">
                                                    <% if (currentUser.role==="teacher" || (currentUser.role==="student"
                                                        && isEnrolled)) { %>
                                                        <a
                                                            href="/view-course/<%= course.id %>/showpages?currentUserId=<%= encodeURIComponent(currentUser.id) %>">
                                                            <%= chapter.chapterName %>
                                                        </a>
                                                        <% } else { %>
                                                            <%= chapter.chapterName %>
                                                                <% } %>
                                                </li>
                                                <% } %>
                                                    <% } %>
                                </ol>
                                    <%if(currentUser.role === "student" || currentUser.id != course.userId) { %>
                                        <p>You can't create a chapter</p>
                                    <% } else { %>
                                        <a href="/view-course/<%= course.id %>/viewcourse?currentUserId=<%= currentUser.id %>"
                                            class="bg-blue-600 text-white px-4 py-3 rounded text-xl hover:bg-red-700 text-center ml-8">Create
                                            a Chapter</a>
                                    <% } %>  
                                    <% if (course.userId===currentUser.id) { %>
                                        <button type="submit" onclick="deleteCourse('<%= course.id %>')"
                                        class="bg-red-600 text-white px-5 py-2 rounded font-medium hover:bg-green-700 transition-all">
                                        DELETE COURSE
                                        </button>
                                    <% } %>         
                        </div>
        </div>
    </div>
</body>
</html>